/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */



/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
  background:rgb(24, 26, 27);
}

/* fixed nav */

.fixed-nav {
  position: fixed;
  height: 100vh;
  bottom: 0;
  left: 50px;
  /*Vertical Centering*/
  display: flex;
  flex-direction: column;
  z-index: 10000;
}

.fixed-nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}


.fixed-nav ul li {
  font-size: 24px;
  margin: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.fixed-nav ul li:hover {
  transition: 0.2s linear;
  transform: translatey(-3px);
}

.fixed-nav ul li a {
  color: whitesmoke;
  text-decoration: none;
}

.fixed-nav ul li:hover a {
  color: var(--text-hover);
}

.cover {
  background: #567D8C;
  background-size: cover; 
  box-shadow: inset 0 0 200px #000;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.cover-text{
  color: #A67924;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.cover-text h1{
  margin: 0;
  font-size: 60px;
  letter-spacing: -2px;
}

.cover-text .lead{
  margin: 5;
  font-size: 26px;
}

#navbar-theme{
  background: rgba(0, 0, 0, 0.5);
}

#navbar-theme a{
  color: white;
}

#navbar-theme a:hover{
  color: #aaa;
}

.cover-text{
  text-align: center;
  color: #212529;
  /* text-shadow: 2px 2px 1px #000; */
  display: table-cell;
  vertical-align: middle;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #567D8C;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.section {
  background-color: #f8f8ff;
}

.about-section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 26, 27);
  padding: 100px;
  box-sizing: border-box;
}

.about-section-content .section-header {
  color: whitesmoke;
  font-family: sans-serif;
}

.about-section-content .lead {
  color: whitesmoke;
  font-family: sans-serif;
}

/* ------------------------------------------- Project Section */

.project-header .section-header {
  margin-bottom: 2%;
  font-family: sans-serif;
  color: whitesmoke
} 

.project-section-content {
  width: 100%;
  background-color: rgb(24, 26, 27);
  margin-bottom: 0;
  overflow-x: hidden;
  padding-top: 0;
}

.project-header {
  text-align: center;
}

.header-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}


.project-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.project-tile {
  flex-basis: 0;
  flex-grow: 1;
  margin: 5% 2%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #567D8C;
  box-shadow: 0px 0px 5px 0px whitesmoke;
  height: 500px;
  cursor: pointer;
}

.project-tile:hover {
  box-shadow: 0px 0px 7px 5px whitesmoke;
}


.project-image {
  flex-basis: 0;
  flex-grow: 4;
  min-height: 0;
}

.project-text {
  flex-basis: 0;
  flex-grow: 4;
  min-height: 0;
}

.project-tags {
  flex-basis: 0;
  flex-grow: 1.5;
  min-height: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.project-image-content {
  max-height: 80%;
  margin: 5%;
  overflow-y: hidden;
}

.project-text-content {
  padding: 5%;
}

.project-text-content h1 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.project-text-content p {
  margin-bottom: 2%;
}


.project-image img {
  max-width: 100%;
}


.project-tags-content {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 90%;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.tag {
  padding: 2% 3%;
  margin: 1%;
  border-radius: 15px;
  text-align: center;
  color: var(--text-secondary);
  font-size: 12px;
  box-sizing: border-box;
}

.tag:hover {
  background: var(--bg-grey);
  color: var(--text-light);
  cursor: default;
}

.help-text {
  justify-content: center;
  text-align: center;
  color: var(--text-secondary);
}

/* ------------------------------------------- Experience Section */


.exp-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.exp-left {
  flex-basis: 0;
  flex-grow: 3;
  display: flex;
}


.exp-right {
  flex-basis: 0;
  flex-grow: 7;
  transition: all 1s;
  padding: 2% 2% 2% 0;
}


.exp-text h1 {
  color: var(--text-primary);
  margin-bottom: 5px;
}

.exp-text h2 {
  color: var(--text-secondary);
  font-weight: normal;
}

.job-subheader {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.job-subheader .row {
  flex-basis: 0;
  flex-grow: 1;
}

.job-subheader .right {
  text-align: right;

}

.job-subheader .row h2 {
  font-size: 1.4em;
}



.exp-list {
  list-style: none;
  padding: 0;
  height: 100%;
}

#list-mobile {
  display: none;
}

#list-mobile li {
  display: inline;
}

.exp-list li {
  margin: 33% 0;
  list-style-type: none;
  color: var(--bg-grey);
  cursor: pointer;
  transition: transform .3s ease-out;
  padding-left: 5px;
}

.exp-list li.active {
  font-weight: bold;
  color: var(--text-secondary);
  transform: scale(1.1);
  border-left: solid 2px var(--text-secondary);
}

.exp-list li:not(.active):hover {
  color: var(--text-secondary);
  padding-left: 4px;
  border-left: solid 1px var(--text-secondary);
}


.exp-text {
  transition: opacity 1s;
  overflow: hidden;
  width: 100%;
}

.exp-text.inactive {
  height: 0;
  opacity: 0;
  position: absolute;
  left: 9999px;
}

.exp-text li {
  margin-bottom: 10px;
}

.exp-content .flickity-button {
  background-color: var(--bg-secondary);
  color: var(--text-light);
}

.exp-content .flickity-button:hover {
  background-color: var(--bg-secondary);
  color: var(--text-light);
  opacity: 0.9;
}

.custom-list-1 {
  font-size: 1.2rem;
}


/*--------------PROJECT SWITCH-----------------*/

.project-btns {
  font-size: 12;
  color: #567D8C;
}

button:focus {
  outline: 0;
}

.project-btns button {
  background-color: rgb(24, 26, 27);
  border: none;
  color: white;
  padding: 15px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  border-bottom: solid 2px var(--bg-primary);
  transition: all 0.2s;
  font-weight: bold;
}

.project-btns .inactive:hover {
  color: var(--p-grey-l-m);
  cursor: pointer;
}

.project-btns .active {
  background-color: var(--bg-primary);
  color: var(--text-blue);
  border-bottom: solid 2px var(--text-blue);
}



/*-----------------Div Setup-------------*/
.project-carousel {
  display: flex;
  flex-direction: row;
  width: 200%;
  padding: 10%;
}

#sd-projects-div {
  transform: translateX(200%);
}

/*------------------FOOTER----------------*/
.footer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-footer);
  color: var(--text-light);

}

.footer p {
  margin: 20px;
  opacity: 80%;
}

.footer .copy {
  font-size: 16px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
}

.nextprevbuttons {
  width: 60%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: flex;
}

.jobtext {
  font-family: sans-serif;
  font-size: 2.5rem;
  color: whitesmoke;
}

.titletext {
  font-family: sans-serif;
  font-size: 1.3rem;
  color: gray;
}

.datetext {
  font-family: sans-serif;
  font-size: 1rem;
  color: gray;
}

.bodytext {
  font-family: sans-serif;
  font-size: 1.25rem;
  color: whitesmoke;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: whitesmoke;
  background-color: #567D8C;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fader {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fader {
  from {opacity: .4}
  to {opacity: 1}
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}